{% load static %}
{% block content %}
{% include 'admin_header.html' %}
        <!-- Content -->
        <style>
            body {
                background-color: rgb(234, 234, 164);
            }
            </style>
         <body></body>
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><a href="formmember">MANAGE SYSTEM<a></div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">

						<div class="card">

							<div class="card-body">

								<div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><a href="formtrainer">MANAGE USERS<a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      

					<div class="col-lg-3 col-md-6">

						<div class="card">

							<div class="card-body">
								<div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-image"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><a href="formblog">MANAGE TRAINERS<a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
								               
                    <div class="col-lg-3 col-md-6">
						<div class="card">

							<div class="card-body">

								<div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-file"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><a href="formvedio">MANAGE DATABASE<a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-lg-3 col-md-6">

						<div class="card">

							<div class="card-body">

								<div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-rupee"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><a href="viwpay">VIEW PAYMENTS<a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-lg-3 col-md-6">

						<div class="card">

							<div class="card-body">

								<div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-table"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><a href="reports">REPORTS<a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
								
                    </div>
					<div class="col-lg-3 col-md-6">

						<div class="card">

							<div class="card-body">

								<div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-table"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><a href="upgymfee">UPDATE PLANS<a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
								
                    </div>
					<div class="col-lg-3 col-md-6">

						<div class="card">

							<div class="card-body">

								<div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-table"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><a href="adminviewfeedback">UPDATE SERVICES<a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
								
                    </div>
                <div>
            </div>

 

        </div>
			
                <!-- /Widgets -->
             
            <!-- /#add-category -->
 
            <!-- .animated -->
        <!-- /.content -->
        <div class="clearfix"></div>
<BR><BR><BR>
{% endblock %}
