{% load static %}
{% block content %}
{% include 'admin_header.html' %}

<!-- Content -->
<style>
    body {
        background-image: url("{% static 'assets/images/admin_dashboard.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh; /* Ensure full page height for the background image */
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .content-area {
        flex-grow: 1;
        padding: 20px;
        margin-left: 291px; /* Same width as sidebar */
        background-color: rgba(255, 255, 255, 0.5); /* Make content area slightly transparent */
        min-height: calc(100vh - 100px); /* Full height minus the header */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .content-area h1 {
        font-size: 30px;
        font-weight: bold;
        color: #070000;
    }

    .content-area p {
        font-size: 20px;
        color: #020000;
    }

    .messages {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
    }

    .messages li {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .alert {
        color: #fff;
        background-color: #ff5722;
    }

    .button-container {
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }

    .btn-image {
        position: relative;
        margin: 0px;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
        transition: transform 0.2s;
    }

    .btn-image a {
        display: block; /* Make the anchor tag block to cover the entire button area */
        text-decoration: none; /* Remove underline */
    }

    .btn-image img {
        max-width: 350px; 
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .btn-image:hover {
        transform: scale(1.1); 
    }

    .btn-text {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(255, 254, 254);
        font-weight: 1000;
        text-shadow: 0px 0px 6px rgba(3, 0, 0, 0.5);
    }

    footer {
        text-align: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
    }

</style>

<div class="content-area">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <b><h1>Welcome To Admin Dashboard</h1></b>
</div>

<footer>
    <p>&copy; {{ 2024 }} My Fitness Site. All rights reserved.</p>
</footer>  

{% endblock %}
