<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Qualification</th>
            <th>Designation</th>
            <th>Certificate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for fm in applicants %}
        <tr>
            <td>{{ fm.name }}</td>
            <td>{{ fm.email }}</td>
            <td>{{ fm.phone }}</td>
            <td>{{ fm.qualification_id }}</td>
            <td>{{ fm.designation_id }}</td>
            <td>
                <a href="{% url 'view_certificate' fm.user_id %}">View Certificate</a>
            </td>
            <td>
                <form action="{% url 'accept_fm' fm.user_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Accept</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
