<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plans</title>
</head>
<body>
    <div class="container">
        <h1>Available Plans</h1>
        <table>
            <thead>
                <tr>
                    <th>Plan ID</th>
                    <th>Plan Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Service ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for plan in plans %}
                <tr>
                    <td>{{ plan.plan_id }}</td>
                    <td>{{ plan.plan_name }}</td>
                    <td>${{ plan.amount }}</td>
                    <td>{{ plan.description }}</td>
                    <td>{{ plan.service_id }}</td>
                    <td>
                        {% if plan.plan_id == 4 and not is_child_plan_enabled %}
                            <button disabled>Not Eligible</button>
                        {% else %}
                        <form action="{% url 'select_plan' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="plan_id" value="{{ plan.plan_id }}">
                            <button type="submit">Select</button>
                        </form>
                        
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
