{% load static %}
{% block content %}
{% include 'header1.html' %}
<style>
    .background-image {
        background-image: url("{% static 'assets/images/bestronger.jpg' %}");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100vh; 
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; 
    }


    .content-overlay {
        position: relative;
        z-index: 1;
        padding-top: 250px; 
        min-height: 100vh; 
    }

    /* Button Styles */
    .button-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn-image {
        position: relative;
        margin: 0px;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
        transition: transform 0.2s;
    }

    .btn-image img {
        max-width: 350px; 
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .btn-image:hover {
        transform: scale(1.1); 
    }

    .btn-text {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-weight:bolder;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    }

    footer {
        text-align: center;
        padding: 20px;
        background-color: #d8d6d6;
        color: white;
        position: relative;
        width: 100%;
        z-index: 2;
    }

    body, html {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

</style>

<main>
    <section class="section" id="contact-us">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="container-fluid content-overlay">
            <div class="background-image"></div>

            <div class="row justify-content-center">
                <div class="button-container col-lg-6 col-md-6 col-xs-12">
                    <button class="btn-image">
                        <a href="{% url 'workouts' %}">
                            <img src="{% static 'assets/images/track_workouts.jpg' %}" alt="Track Your Workouts">
                            <span class="btn-text">Track Your Workouts</span>
                        </a>
                    </button>

                    <button class="btn-image">
                        <a href="{% url 'nutrition' %}">
                            <img src="{% static 'assets/images/track_nutrition.jpg' %}" alt="Track Your Nutrition">
                            <span class="btn-text">Track Your Nutrition</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>&copy; {{ 2024 }} My Fitness Site. All rights reserved.</p>
</footer>

{% endblock %}
